@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
@import "@splidejs/splide/dist/css/splide.min.css";
@import "perfect-scrollbar/css/perfect-scrollbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kanit';
    font-weight: 300;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  }
  @font-face {
    font-family: 'Kanit';
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
  }  
  @font-face {
    font-family: 'Kanit';
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
  }

  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */

  /* total width */
  body::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
  }

  /* background of the scrollbar except button or resizer */
  body::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* scrollbar itself */
  body::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 10px;
    border: 2px solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  body::-webkit-scrollbar-button {
    display: none;
  }
}

