@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Kanit';
    font-weight: 300;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  }
  @font-face {
    font-family: 'Kanit';
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
  }  
  @font-face {
    font-family: 'Kanit';
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
  }
} */
